* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  
}
header {
  background-color: #013369;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: yellow dotted;
}
h2 {
  border: red solid;
  width: 100px;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  border: green dashed;
}
.navbar a{
  text-decoration: none;
  color: whitesmoke;
}
#leftbar,
#rightbar {
  flex-grow: 1;
  align-items: center;
}

#rightbar {
  justify-content: flex-end;
}
li{
  padding: 5px;
  margin-right: 25px;
}
main {
  min-height: 1650px;
  background: lightgrey;
  width: 80%;
  
}

footer {
  background-color: lightgreen;
  height: 50px;
}

section {
  border: solid black 5px;
}
#firstBlock{
  height: 500px;
  width: 400px;
}
#secondBlock{
  height: 300px;
  width: 200px;
}
#thirdBlock{
  height: 200px;
  width: 200px;
}