* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
header {
  background-color: lightblue;
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: yellow dotted;
}
h2 {
  border: red solid;
  width: 100px;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  border: green dashed;
}

#leftbar,
#rightbar {
  flex-grow: 1;
  align-items: center;
}

#rightbar {
  justify-content: flex-end;
}

main {
  min-height: 1650px;
  background: lightgrey;
}

footer {
  background-color: lightgreen;
  height: 50px;
}
